services:
  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    ports:
      - 5173:5173
      - 9000:9000
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
      - redis
    networks:
      - default

  nginx:
    image: nginx:1.29.3
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - default

  mysql:
    image: mysql:8.4.7
    ports:
      - 3306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - default

  redis:
    image: redis:8.2.3
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    networks:
      - default

  phpmyadmin:
    image: phpmyadmin:5.2.3
    ports:
      - 8080:80
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: ${DB_PORT}
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - mysql
    networks:
      - default

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local

networks:
  default:
    driver: bridge